/**
Adapted from https://bl.ocks.org/mbostock/4090848
 */
.states {
    fill: saddlebrown;
}

.geoState {
    height: 400px;
    width: 200px;
    float: left;
}

.geoHeat {
    float: left;
}

path.states:hover {
    fill: blue;
}

.state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

.switch-toggle {
    float: left;
}

.region-select {
    float: left;
    height: 40px;
    width: 100%;
}

#geoLegend {
    z-index: 10;
}

.geoLegendContainer {
    float: right;
}