/*TODO Update CSS styles, complete initial design template*/
.container {
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    height: 1000px;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1800px;
}

.left, .dataTable {
    float: left;
}

.centered_container
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
