/*TODO Update CSS styles, complete initial design template*/
.container {
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    height: 1000px;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1800px;
}

.left, .dataTable {
    float: left;
}

.centered_container
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

rect.custom_tooltip
{
    opacity: 0.8;
    fill: rgb(226, 226, 226);
}

text.custom_tooltip
{
    text-anchor: middle;
    display: block;
    white-space: nowrap;
    fill: black;
}

tspan.custom_tooltip
{
    text-anchor: middle;
    display: block;
    white-space: nowrap;
    fill: black;
}

.slidercontainer {
    width: 100%;
    float: left;
}

/* Lifted from https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slider {
    margin-left: 100px;
    -webkit-appearance: none;
    width: 90%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    float: left;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

