.y-label,
.x-label,
.c-label 
{
    text-anchor: middle;
}

.scatterplot
{
    padding-bottom: 50px;
}

.dropdown_div 
{
    padding-top: 20px;
    position: relative;
}
  
.dropdown_div-content 
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown_div:hover .dropdown_div-content 
{
    display: block;
}

circle 
{
    stroke: black;
}

circle.hovered
{
    stroke-width: 3px;
}

circle.unselected
{
    opacity: 0.2;
}

.state_table
{
    border: none;
}

table.state_table 
{
    border-collapse: collapse;
    width: 100%;
}

.state_table tbody
{
    display:block;
    width: 100%;
    overflow: auto;
}

.state_table th
{
    padding: 5px;
    text-align: center;
    border: none;
} 
.state_table td 
{
    padding-right: 10px;
    text-align: left;
    border: none;
}

.state_table input
{
    margin-right: 5px;
}

font.outlined
{
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.1px;
}